# Auswertungen

## Sales CSV mit Werten:

- Region
- Country
- Item Type
- Sales Channel
- Order Priority
- Order Date
- Order ID
- Ship Date
- Units Sold
- Unit Price
- Unit Cost
- Total Revenue
- Total Cost
- Total Profit

In [1]:
import pandas

df = pandas.read_csv('datas/sales.csv')
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,12/28/2015,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,141515767,2/1/2011,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,500364005,10/6/2012,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,10/27/2015,127481591,12/5/2015,3491,47.45,31.79,165647.95,110978.89,54669.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,7/15/2014,199342048,7/31/2014,8597,47.45,31.79,407927.65,273298.63,134629.02
9996,Europe,Liechtenstein,Cosmetics,Online,C,10/27/2012,763044106,11/1/2012,562,437.20,263.33,245706.40,147991.46,97714.94
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2/14/2013,848579967,3/20/2013,2524,154.06,90.93,388847.44,229507.32,159340.12
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2/19/2017,298185956,2/22/2017,8706,421.89,364.69,3672974.34,3174991.14,497983.20
9999,Asia,Mongolia,Snacks,Offline,M,4/12/2016,824410903,4/16/2016,361,152.58,97.44,55081.38,35175.84,19905.54

## Index setzen

Ein DataFrame generiert automatisch Indezes fÃ¼r die Reihen.
Um die Indezes zu setzten benutzen wir `set_index` mit der `Order ID`

In [2]:
import pandas

df = pandas.read_csv('datas/sales.csv')
df = df.set_index('Order ID')
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,,,,,,,,
292494523,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.00
361825549,Europe,Latvia,Beverages,Online,C,12/28/2015,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.50
141515767,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,2/1/2011,6515,154.06,90.93,1003700.90,592408.95,411291.95
500364005,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,10/6/2012,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
127481591,Europe,Czech Republic,Beverages,Online,C,10/27/2015,12/5/2015,3491,47.45,31.79,165647.95,110978.89,54669.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199342048,Asia,Laos,Beverages,Online,H,7/15/2014,7/31/2014,8597,47.45,31.79,407927.65,273298.63,134629.02
763044106,Europe,Liechtenstein,Cosmetics,Online,C,10/27/2012,11/1/2012,562,437.20,263.33,245706.40,147991.46,97714.94
848579967,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2/14/2013,3/20/2013,2524,154.06,90.93,388847.44,229507.32,159340.12
298185956,Sub-Saharan Africa,South Africa,Meat,Online,L,2/19/2017,2/22/2017,8706,421.89,364.69,3672974.34,3174991.14,497983.20
824410903,Asia,Mongolia,Snacks,Offline,M,4/12/2016,4/16/2016,361,152.58,97.44,55081.38,35175.84,19905.54

## Zeiten umwandeln

DafÃ¼r nutzen wir `pandas.to_datetime`

In [3]:
import pandas

df = pandas.read_csv('datas/sales.csv')
df = df.set_index('Order ID')
# In Datetime umwandeln
df['Order Date'] = pandas.to_datetime(df['Order Date'])
df['Ship Date'] = pandas.to_datetime(df['Ship Date'])
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,,,,,,,,
292494523,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,2011-02-12,4484,651.21,524.96,2920025.64,2353920.64,566105.00
361825549,Europe,Latvia,Beverages,Online,C,2015-12-28,2016-01-23,1075,47.45,31.79,51008.75,34174.25,16834.50
141515767,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,2011-02-01,6515,154.06,90.93,1003700.90,592408.95,411291.95
500364005,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,2012-10-06,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
127481591,Europe,Czech Republic,Beverages,Online,C,2015-10-27,2015-12-05,3491,47.45,31.79,165647.95,110978.89,54669.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199342048,Asia,Laos,Beverages,Online,H,2014-07-15,2014-07-31,8597,47.45,31.79,407927.65,273298.63,134629.02
763044106,Europe,Liechtenstein,Cosmetics,Online,C,2012-10-27,2012-11-01,562,437.20,263.33,245706.40,147991.46,97714.94
848579967,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2013-02-14,2013-03-20,2524,154.06,90.93,388847.44,229507.32,159340.12
298185956,Sub-Saharan Africa,South Africa,Meat,Online,L,2017-02-19,2017-02-22,8706,421.89,364.69,3672974.34,3174991.14,497983.20
824410903,Asia,Mongolia,Snacks,Offline,M,2016-04-12,2016-04-16,361,152.58,97.44,55081.38,35175.84,19905.54

## Sortieren des DataFrames

In [4]:
import pandas

df = pandas.read_csv('datas/sales.csv')

#Index setzen
df = df.set_index('Order ID')

# In Datetime umwandeln
df['Order Date'] = pandas.to_datetime(df['Order Date'])
df['Ship Date'] = pandas.to_datetime(df['Ship Date'])

# Sortieren
df = df.sort_values('Order Date')
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,,,,,,,,
506209075,Sub-Saharan Africa,Central African Republic,Vegetables,Online,H,2010-01-01,2010-02-04,7369,154.06,90.93,1135268.14,670063.17,465204.97
863776719,Asia,China,Cereal,Online,C,2010-01-01,2010-02-10,9581,205.70,117.11,1970811.70,1122030.91,848780.79
907228076,Europe,Sweden,Clothes,Online,H,2010-01-02,2010-02-21,7803,109.28,35.84,852711.84,279659.52,573052.32
335552775,Sub-Saharan Africa,Equatorial Guinea,Snacks,Offline,M,2010-01-02,2010-02-12,6378,152.58,97.44,973155.24,621472.32,351682.92
695167052,Asia,Mongolia,Cosmetics,Offline,C,2010-01-02,2010-01-22,4234,437.20,263.33,1851104.80,1114939.22,736165.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861848104,Sub-Saharan Africa,Ghana,Snacks,Offline,C,2017-07-28,2017-09-06,8861,152.58,97.44,1352011.38,863415.84,488595.54
126010453,Europe,Ireland,Vegetables,Online,H,2017-07-28,2017-09-02,8148,154.06,90.93,1255280.88,740897.64,514383.24
651951730,Asia,Thailand,Cosmetics,Offline,C,2017-07-28,2017-08-07,5860,437.20,263.33,2561992.00,1543113.80,1018878.20
204962670,Sub-Saharan Africa,Kenya,Baby Food,Offline,M,2017-07-28,2017-08-06,1864,255.28,159.42,475841.92,297158.88,178683.04
456617820,Middle East and North Africa,Azerbaijan,Clothes,Online,H,2017-07-28,2017-07-28,2215,109.28,35.84,242055.20,79385.60,162669.60

## Werte filtern

In [5]:
import pandas

df = pandas.read_csv('datas/sales.csv')

#Index setzen
df = df.set_index('Order ID')

# In Datetime umwandeln
df['Order Date'] = pandas.to_datetime(df['Order Date'])
df['Ship Date'] = pandas.to_datetime(df['Ship Date'])

# Sortieren
df = df.sort_values('Order Date')

# Filtern
df = df.query('"2012-01-01" <= `Order Date` & `Order Date` <= "2012-12-31"')
df = df.query('Region == "Europe"')
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,,,,,,,,
806347405,Europe,Iceland,Cosmetics,Offline,H,2012-01-01,2012-02-10,4971,437.20,263.33,2173321.20,1309013.43,864307.77
440357196,Europe,Netherlands,Cosmetics,Offline,L,2012-01-02,2012-02-08,335,437.20,263.33,146462.00,88215.55,58246.45
889156854,Europe,Belarus,Vegetables,Online,M,2012-01-03,2012-01-15,127,154.06,90.93,19565.62,11548.11,8017.51
462988173,Europe,Monaco,Meat,Online,C,2012-01-03,2012-02-01,7344,421.89,364.69,3098360.16,2678283.36,420076.80
452755010,Europe,Denmark,Vegetables,Online,C,2012-01-03,2012-01-10,9123,154.06,90.93,1405489.38,829554.39,575934.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
893640220,Europe,Bosnia and Herzegovina,Fruits,Online,C,2012-12-29,2013-01-25,6855,9.33,6.92,63957.15,47436.60,16520.55
629469239,Europe,Andorra,Baby Food,Online,M,2012-12-29,2013-02-07,2791,255.28,159.42,712486.48,444941.22,267545.26
914106547,Europe,Switzerland,Personal Care,Online,H,2012-12-30,2013-01-18,3296,81.73,56.67,269382.08,186784.32,82597.76
126158940,Europe,United Kingdom,Office Supplies,Offline,H,2012-12-31,2013-01-07,2089,651.21,524.96,1360377.69,1096641.44,263736.25
552327620,Europe,Ireland,Fruits,Online,M,2012-12-31,2013-02-09,4872,9.33,6.92,45455.76,33714.24,11741.52

## Filtern und sortieren

In [6]:
df = df.query('Country == "Germany" or Country == "France"').sort_values('Country')
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,,,,,,,,
813403117,Europe,France,Fruits,Offline,L,2012-04-17,2012-06-01,2913,9.33,6.92,27178.29,20157.96,7020.33
715642821,Europe,France,Clothes,Offline,C,2012-06-07,2012-06-26,3469,109.28,35.84,379092.32,124328.96,254763.36
613118493,Europe,France,Meat,Offline,M,2012-07-10,2012-08-02,4242,421.89,364.69,1789657.38,1547014.98,242642.40
717502772,Europe,France,Snacks,Online,L,2012-09-16,2012-09-18,3870,152.58,97.44,590484.60,377092.80,213391.80
535173070,Europe,Germany,Household,Offline,H,2012-01-26,2012-02-21,8459,668.27,502.54,5652895.93,4250985.86,1401910.07
508256137,Europe,Germany,Vegetables,Online,L,2012-03-06,2012-03-09,3140,154.06,90.93,483748.40,285520.20,198228.20
343512713,Europe,Germany,Snacks,Online,L,2012-06-07,2012-07-21,1900,152.58,97.44,289902.00,185136.00,104766.00
848086869,Europe,Germany,Office Supplies,Online,L,2012-07-20,2012-09-01,6606,651.21,524.96,4301893.26,3467885.76,834007.50
553663146,Europe,Germany,Baby Food,Online,M,2012-12-04,2013-01-17,83,255.28,159.42,21188.24,13231.86,7956.38

## Neue Werte reinschreiben

In [7]:
df['Fulfilment Delta'] = df['Ship Date'] - df['Order Date']
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Fulfilment Delta
Order ID,,,,,,,,,,,,,,
813403117,Europe,France,Fruits,Offline,L,2012-04-17,2012-06-01,2913,9.33,6.92,27178.29,20157.96,7020.33,45 days
715642821,Europe,France,Clothes,Offline,C,2012-06-07,2012-06-26,3469,109.28,35.84,379092.32,124328.96,254763.36,19 days
613118493,Europe,France,Meat,Offline,M,2012-07-10,2012-08-02,4242,421.89,364.69,1789657.38,1547014.98,242642.40,23 days
717502772,Europe,France,Snacks,Online,L,2012-09-16,2012-09-18,3870,152.58,97.44,590484.60,377092.80,213391.80,2 days
535173070,Europe,Germany,Household,Offline,H,2012-01-26,2012-02-21,8459,668.27,502.54,5652895.93,4250985.86,1401910.07,26 days
508256137,Europe,Germany,Vegetables,Online,L,2012-03-06,2012-03-09,3140,154.06,90.93,483748.40,285520.20,198228.20,3 days
343512713,Europe,Germany,Snacks,Online,L,2012-06-07,2012-07-21,1900,152.58,97.44,289902.00,185136.00,104766.00,44 days
848086869,Europe,Germany,Office Supplies,Online,L,2012-07-20,2012-09-01,6606,651.21,524.96,4301893.26,3467885.76,834007.50,43 days
553663146,Europe,Germany,Baby Food,Online,M,2012-12-04,2013-01-17,83,255.28,159.42,21188.24,13231.86,7956.38,44 days

## Schnelle Auswertungen

In [8]:
order_id = df['Total Profit'].idxmax()
df.loc[order_id]

Region                           Europe
Country                         Germany
Item Type                     Household
Sales Channel                   Offline
Order Priority                        H
Order Date          2012-01-26 00:00:00
Ship Date           2012-02-21 00:00:00
Units Sold                         8459
Unit Price                       668.27
Unit Cost                        502.54
Total Revenue                5.6529e+06
Total Cost                  4.25099e+06
Total Profit                1.40191e+06
Fulfilment Delta       26 days 00:00:00
Name: 535173070, dtype: object

## Summe von Series

In [9]:
df['Total Revenue'].sum()

13536040.42